<h1>{{data.title}}</h1>
<div class="mainfield-wrapper">
    <div class="herolist">
        <div class="hero-list">
            <h2>Heroes</h2>
            <ul class="heroes">
                <div *ngFor="let equipment of equipments">
                    <div class="hero">
                        <p class="heroName">{{equipment.name
                            }}</p>
                        <div class="heroinfo">
                            <div class="heroinfo-left">
                                <p class="heroLevel">Level: {{equipment.level
                                    }}</p>
                                <p class="heroDamage">Dmg: {{equipment.damage
                                    }}</p>
                            </div>
                            <div class="heroinfo-right">
                                <p class="heroCost">Cost: {{equipment.cost
                                    }}</p>
                                <button (click)="increaseLevel(equipment)">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div class="battlefield">
        <div class="battlefield-left">
            <h2>Total Damage: {{data.totalDamage}}</h2>
            <h2>Monster killed: {{data.monsterKilled}}</h2>
            <h2>Gold: {{data.gold}}</h2>
        </div>
        <div class="battlefield-right">
            <img src="../assets/images/Placeholder.jpg" width="100px" height="100px" (click)="dealDamage()">
            <h2>Monster Life: {{data.monsterlife}}</h2>
        </div>
    </div>
    <div class="upgrades">
        <h2>UPGRADES</h2>
        <div class="upgrade-list" *ngFor="let upgrade of upgrades">
            <div class="upgrade">
                <div>
                    <p>{{upgrade.name}}</p>
                    <p>{{upgrade.description}}</p>
                </div>

                <div>
                    <p>Level: {{upgrade.level}}</p>
                    <button>Buy</button>
                </div>
            </div>
        </div>

    </div>
</div>